[submodule "Collog-Privacy"]
	path = Collog-Privacy
	url = git@github.com:Collog-App/Collog-Privacy.git
[submodule "Collog-Server"]
	path = Collog-Server
	url = git@github.com:Collog-App/Collog-Server.git
